<section class="vh-100" style="background-color: #0b3a7a">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <fieldset class="border rounded-3 p-5">
              <legend class="float-none w-auto px-5">
                <img src="../../assets/media/svg/logo-unidas.svg" />
              </legend>
              <div
                class="mb-md-5 mt-md-4 pb-5 d-flex flex-column justify-content-center"
              >
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-dark-50 mb-5">
                  Para realizar o login, clique abaixo!
                </p>

                <button
                  class="btn btn-primary btn-login font-weight-bold d-flex align-items-center justify-content-center border rounded-3"
                  type="submit"
                  (click)="onSubmit()"
                >
                  Login
                </button>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row d-flex justify-content-right align-items-right text-white"
    >
      <p class="mb-0">Versao 1.0.0{{appVersion}}</p>
    </div>
  </div>
</section>
